p {
    color: #999;
}

.album {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

article {
    padding: 1em 1em 3em 1em;
    color: #333;
}

.artist {
    max-width: 300px;
    width: 100%;
    max-height: auto;
    margin-bottom: 2em;
}

.evolvecolor {
    background-color: rgb(12, 35, 36);
}

.evolve {
    color: white;
    padding: 2em;
    width: 100%
}

.infinitycolor {
    background-color: rgb(14, 17, 32);
}

.infinity {
    color: rgb(101, 60, 158);
    padding: 2em;
}

.tellmecolor {
    background: black;
}

.tellme {
    color: white;
    padding: 2em;
}

ol {
    padding: 1em 3em 3em 3em;
}

li {
    padding: 8px;
}

a:hover {
    opacity: 0.7;
    text-decoration: none;
}